@model avSVAW.Models.DepartmentForm
@{
    ViewBag.Title = Resources.Language.Department;
    ViewBag.SubTitle = Resources.Language.Create + " " + ViewBag.Title;
}
@section header{
    <p style="margin-top: -10px; margin-left: 22px;">@ViewBag.SubTitle</p>
}
<div class="row">
    <div class="col-xs-12">

        <div class="box">
            <div class="box-header" id="failure"></div>
            @using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @class = "form-horizontal form-label-left", @id = "frmValidate", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">
                    <input type="hidden" name="ID" class="form-control" value="@Model.Id" />
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.Code, Resources.Language.Code, new { @class = "control-label required" })
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Code, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.Name, Resources.Language.Name, new { @class = "control-label required" })
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.Description, Resources.Language.Description, new { @class = "control-label" })
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>


                    @*<input type="hidden" id="DepartmentID" name="DepartmentID" value="@ViewBag.DepartmentID" />*@

                    <!-- /.box-body -->
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            <a href="/Department/Index">
                                <button class="btn btn-default" type="button">@Resources.Language.Back</button>
                            </a>
                            <button type="submit" class="btn btn-success">@Resources.Language.Save</button>&nbsp;

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/assets/js/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            if (@ViewBag.Failure == 0) {
                var text =  '<div style="background-color:#fff;color:#f80000;border-color: #f80000;" class="alert" >MÃ THẺ ĐÃ TỒN TẠI VÀ ĐANG ĐƯỢC SỬ DỤNG !</div>'
                $('#failure').append(text);
            } else if (@ViewBag.Failure == -1) {
                var text1 = '<div style="background-color:#fff;color:#f80000;border-color: #f80000;" class="alert" >TÊN PHÒNG ĐÃ TỒN TẠI VÀ ĐANG ĐƯỢC SỬ DỤNG !</div>'
                $('#failure').append(text1);
            }else if (@ViewBag.Failure== -2) {
                var text2 = '<div style="background-color:#fff;color:#f80000;border-color: #f80000;" class="alert" >MÔ TẢ ĐÃ TỒN TẠI VÀ ĐANG ĐƯỢC SỬ DỤNG !</div>'
                $('#failure').append(text2);
            }

        });
    </script>
    <script type="text/javascript">


        $(document).ready(function () {

            $('#frmValidate').validate({ // initialize the plugin
                rules: {
                    Code: {
                        required: true
                    },
                    Name: {
                        required: true
                    },
                    Description: {
                        required: true
                    },
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>

}