@model List<Model.DataModel.tblDepartment>
@{
    //ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Language.Department;
    ViewBag.SubTitle = Resources.Language.List + " " + Resources.Language.Department;
}
@section header{
    <p style="margin-top: -10px; margin-left: 22px;">@ViewBag.SubTitle</p> 
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div>
                    <a href="@Url.Action("Create")" class="btn btn-success">
                        <i class="fa fa-plus-circle"></i>&nbsp; @Resources.Language.Create &nbsp;
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table id="DepartmentTable" class="table table-bordered table-striped">
                    <thead>
                        <tr style="text-align:center;">
                            <th>#</th>
                            <th>@Resources.Language.Code</th>
                            <th>@Resources.Language.Name</th>
                            <th>@Resources.Language.Description</th>
                            <th style="width:30%">Hành Động</th>
                        </tr>
                    </thead>
                    @if (Model.Count > 0)
                    {
                        var i = 1;
                        <tbody>
                            @foreach (var f in Model)
                            {
                                <tr id="data">
                                    <td>
                                        @i
                                    </td>
                                    <td>@f.Code</td>
                                    <td>
                                        @f.Name
                                    </td>

                                    <td>@f.Description </td>
                                    <td>
                                        <a href="/Department/Edit/@f.Id" class="btn btn-primary  btn-xs">
                                            <i class="fa fa-pencil"></i>&nbsp; @Resources.Language.Edit &nbsp;&nbsp;
                                        </a>
                                        &nbsp;
                                        <a href="/Department/Detail/@f.Id" class="btn btn-primary  btn-xs">
                                            <i class="fa fa-search"></i>&nbsp; @Resources.Language.View &nbsp;&nbsp;
                                        </a>
                                        &nbsp;
                                        <a href="/Department/Delete/@f.Id" class="btn btn-danger  btn-xs" onclick="return confirm('@Resources.Language.DeleteConfirm')">
                                            <i class="fa fa-trash"></i> &nbsp;@Resources.Language.Delete&nbsp;&nbsp;
                                        </a>

                                    </td>

                                </tr>
                                i = i + 1;
                            }
                        </tbody>
                    }

                </table>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DepartmentTable').DataTable({
                'paging': false,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': false,
                'autoWidth': false
            })
            $("#modalImport").click(function () {
                $("#importcsv").modal('show');
            });
            $('#search').on('keyup', function (event) {
                event.preventDefault();
                var tukhoa = $(this).val().toLowerCase();
                $('#ProductTable #data').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(tukhoa) > -1);
                });
            });

        });
    </script>
}

