﻿@model avSVAW.Models.UserForm

@{ ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@section Styles{

    <style type="text/css">
        .profile_img {
            max-width: 160px;
            max-height: 160px;
            margin: 0 auto;
        }

        li.select2-selection__choice {
            color: green !important;
        }
    </style>
}
<h3 style="margin-top:-10px;">@Resources.Language.MenuUser</h3>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header"></div>
            <div class="box-body no-padding">
                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal form-label-left", @id = "frmValidate", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!-- Username -->
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.Password, "Mật khẩu cũ", new { @class = "control-label required" })
                        </div>
                        <div class="col-sm-3">
                            @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.PasswordNew, "Mật khẩu mới", new { @class = "control-label required" })
                        </div>
                        <div class="col-sm-3">
                            @Html.PasswordFor(model => model.PasswordNew, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordNew, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.PasswordReNew, "Nhập lại mật khẩu mới", new { @class = "control-label required" })
                        </div>
                        <div class="col-sm-3">
                            @Html.PasswordFor(model => model.PasswordReNew, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordReNew, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-6">
                            <a href="/Home/Index">
                                <button class="btn btn-default" type="button">@Resources.Language.Back</button>
                            </a>
                            <button type="submit" class="btn btn-success">@Resources.Language.Save</button>&nbsp;


                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        //add css for attach file element
        var input = $("input:file").css({
            width: "100%",
            border: "0.1px solid"
        });
    </script>
    <script src="~/assets/js/jquery.validate.js"></script>
    <script>
        $('#frmValidate').validate({ // initialize the plugin
            rules: {
                Password: {
                    required: true,
                    minlength: 3
                },
                PasswordNew: {
                    required: true,
                    minlength: 3
                },
                PasswordReNew: {
                    required: true,
                    minlength: 3,
                    equalTo: "#PasswordNew"

                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    </script>
    <script>
        $(document).ready(function () {

        })
    </script>
}
