@model List<Model.Models.DetailOperationReportModel>


@{
    ViewBag.Title = "ReportOperational";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <style>
        .label {
            font-size: 100%;
        }

        th, td {
            text-align: center
        }
    </style>
}
<h3 style="margin-top:-15px">Báo cáo chi tiết vận hành</h3>
<!--Tiêu chí lọc dữ liệu-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                @using (Html.BeginForm("DetailedOperationReport", "Report", FormMethod.Get, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-sm-1">
                            <label class="control-label">@Resources.Language.FromDate</label>
                        </div>
                        <div class="col-sm-2">
                            <div id="divFromDate" class="input-group input-append">
                                <input id="StartDate" name="StartDate" data-format="yyyy/MM/dd" value="@ViewBag.StartDate" type="text" class="form-control col-md-5 col-xs-12"></input>
                                <div class="input-group-addon">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <label class="control-label">@Resources.Language.ToDate</label>
                        </div>
                        <div class="col-sm-2">
                            <div id="divToDate" class="input-group input-append">
                                <input id="EndDate" name="EndDate" data-format="yyyy/MM/dd" value="@ViewBag.EndDate" type="text" class="form-control col-md-5 col-xs-12"></input>
                                <div class="input-group-addon">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                                </div>
                            </div>
                        </div>

                        <!-- load template -->
                        @Html.Partial("~/Views/Common/TempNodeLine.cshtml")
                        @Html.Partial("~/Views/Common/TempNode.cshtml")
                    </div>


                    <div class="form-group">
                        <div class="col-sm-1">
                            &nbsp;
                        </div>
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;@Resources.Language.Search</button>
                            &nbsp;&nbsp;
                            <button type="button" onclick="ExportDetailedOperationReport()" class="btn btn-primary"><i class="fa fa-file-excel-o"></i>&nbsp;@Resources.Language.ExportExcel</button>
                            &nbsp;&nbsp;
                            <button type="button" onclick="RedirectToChart()" class="btn btn-primary"><i class="fa fa-bar-chart-o"></i>&nbsp;Biểu đồ</button>
                        </div>

                    </div>

                }
            </div>
            <div class="box-footer no-border"></div>
        </div>
    </div>
</div>

<div class="row form-horizontal">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <b class="">@Resources.Language.StartTime</b>
                        </div>
                        <div class="col-sm-3">
                            <b class="">@Resources.Language.FinishTime</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <span class="">@ViewBag.StartDate</span>
                        </div>
                        <div class="col-sm-3">
                            <span class="">@ViewBag.EndDate</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="EventDeflist" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Mã chuyền</th>
                            <th rowspan="2">Tên chuyền</th>
                            <th rowspan="2">Tên công đoạn</th>
                            <th rowspan="2">Mã công đoạn</th>
                            <th rowspan="2">Tên máy</th>
                            <th rowspan="2">Sự kiện</th>
                            <th rowspan="2">Thời gian bắt đầu</th>
                            <th rowspan="2">Thời gian kết thúc</th>
                            <th rowspan="2">Thời lượng</th>
                        </tr>
                    </thead>

                    @if (Model.Count > 0)
                    {

                        var iCount = 1;
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var strLabel = "";
                                if (item.EventDefName == "Máy chạy")
                                {
                                    strLabel = "success";
                                }
                                if (item.EventDefName == "Máy dừng")
                                {
                                    strLabel = "danger";
                                }
                                if (item.EventDefName == "Máy lỗi")
                                {
                                    strLabel = "warning";
                                }
                                if (item.EventDefName == "Mất kết nối")
                                {
                                    strLabel = "dark";
                                }
                                <tr>
                                    <td>@iCount</td>
                                    <td>@item.LineCode</td>
                                    <td>@item.LineName</td>
                                    <td></td>
                                    <td></td>
                                    <td>@item.NodeName</td>
                                    <td><span class="label label-@strLabel">@item.EventDefName</span></td>
                                    <td>@item.Started</td>
                                    <td>@item.Ended</td>
                                    <td>@item.ProcessDuration</td>
                                </tr>
                                iCount++;
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        function ExportDetailedOperationReport() {
            var url = '@Url.Action("ExportDetailedOperationReport", "Report")';
            var _fromDate = $('#StartDate').val();
            var _toDate = $('#EndDate').val();
            var _lineId = $('#LineId').val();
            var _nodeId = $('#NodeId').val();
            var excelUrl = url + '?startDate=' + _fromDate + '&endDate=' + _toDate + '&lineId=' + _lineId + '&nodeId=' + _nodeId;
            window.location.href = excelUrl;
        };
        function RedirectToChart() {
            var url = '@Url.Action("OperationNodeReport", "Report")';
            var _fromDate = $('#StartDate').val();
            var _toDate = $('#EndDate').val();
            var _lineId = $('#LineId').val();
            var _nodeId = $('#NodeId').val();
            var excelUrl = url + '?startDate=' + _fromDate + '&endDate=' + _toDate + '&lineId=' + _lineId + '&nodeId=' + _nodeId;
            window.location.href = excelUrl;
        };

        $('#divFromDate').datetimepicker({
            pickTime: false
        });
        $('#divToDate').datetimepicker({
            pickTime: false
        });

        function loadNode() {
            var url = '@Url.Action("DetailedOperationReport","Report")';

            var _lineId = $('#LineId').val();

             var chuyenUrl = url + '?startDate='+'&endDate='+'&lineId=' + _lineId + '&nodeId='+ 0;

            window.location.href = chuyenUrl;
        }
    </script>
}


