@model List<Model.Models.ReportWorkPlanModel>
@{
    ViewBag.Title = Resources.Language.Productionreport;
    ViewBag.SubTitle = ViewBag.Title;
}

@section Styles {
    <style>
        .label {
            font-size: 100%;
        }

        th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}
<h3 style="margin-top:-16px">Báo cáo kế hoạch sản xuất</h3>
<!--Tiêu chí tìm kiếm-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                @using (Html.BeginForm("ReportWorkPlan", "Report", FormMethod.Get, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-sm-1">
                            <label class="control-label">@Resources.Language.FromDate</label>
                        </div>
                        <div class="col-sm-2">
                            <div id="divFromDate" class="input-group input-append">
                                <input id="StartDate" name="StartDate" data-format="yyyy/MM/dd" value="@ViewBag.StartDate" type="text" class="form-control col-md-5 col-xs-12"></input>
                                <div class="input-group-addon">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <label class="control-label">@Resources.Language.ToDate</label>
                        </div>
                        <div class="col-sm-2">
                            <div id="divToDate" class="input-group input-append">
                                <input id="EndDate" name="EndDate" data-format="yyyy/MM/dd" value="@ViewBag.EndDate" type="text" class="form-control col-md-5 col-xs-12"></input>
                                <div class="input-group-addon">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
                                </div>
                            </div>
                        </div>

                        <!-- load template -->
                        @Html.Partial("~/Views/Common/TempNodeLine.cshtml")
                        @Html.Partial("~/Views/Common/TempProduct.cshtml")
                    </div>


                    <div class="form-group">
                        <div class="col-sm-1">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <button id="button-search" type="submit" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;@Resources.Language.Search</button>
                            &nbsp;&nbsp;
                            <button type="button" onclick="ExportReportWorkPlan()" class="btn btn-primary"><i class="fa fa-file-excel-o"></i>&nbsp;@Resources.Language.ExportExcel</button>
                        </div>

                    </div>

                }
            </div>
            <div class="box-footer no-border"></div>
        </div>
    </div>
</div>

<!---->
<div class="row form-horizontal">
    <div class="col-xs-12">

        <div id="hello" class="box box-primary">

            <div class="box-body">
                @*<div class="box-header">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <b class="">@Resources.Language.StartTime</b>
                                </div>
                                <div class="col-sm-3">
                                    <b class="">@Resources.Language.FinishTime</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <span class="">@ViewBag.StartDate</span>
                                </div>
                                <div class="col-sm-3">
                                    <span class="">@ViewBag.EndDate</span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <table id="EventDeflist" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th rowspan="2" style="text-align:center;">#</th>
                            <th rowspan="2" style="text-align:center;">Mã chuyền</th>
                            <th rowspan="2" style="text-align:center;">Tên chuyền</th>
                            <th rowspan="2" style="text-align:center;">Mã công đoạn</th>
                            <th rowspan="2" style="text-align:center;">Tên công đoạn</th>
                            <th rowspan="2" style="text-align:center;">Lệnh sản xuất</th>
                            <th rowspan="2" style="text-align:center;">Mã sản phẩm</th>
                            <th rowspan="2" style="text-align:center;">Model</th>
                            <th rowspan="2" style="text-align:center;">Tên sản phẩm</th>
                            <th rowspan="2" style="text-align:center;">Ngày kế hoạch</th>
                            <th rowspan="2" style="text-align:center;">Số lượng  (Kế hoạch)</th>
                            <th rowspan="2" style="text-align:center;">Ngày thực tế</th>
                            <th rowspan="2" style="text-align:center;">Số lượng (Thực tế)</th>
                            <th rowspan="2" style="text-align:center;">Tỷ lệ hoàn thành</th>
                            <th rowspan="2" style="text-align:center;">Tình trạng</th>
                        </tr>
                        <tr>
                            <th>Ngày kế hoạch</th>
                            <th>Số lượng</th>
                            <th>Ngày thực tế</th>
                            <th>Số lượng</th>

                        </tr>


                    </thead>
                    @if (Model.Count > 0)
                    {
                        var iCount = 1;
                        <tbody>
                            @foreach (var ev in Model)
                            {

                                var strStatusLabel = "";
                                var strStatus = "";
                                if (ev.Status == 0)
                                {
                                    strStatusLabel = "label-primary";
                                    strStatus = "Kế hoạch";
                                }
                                if (ev.Status == 2)
                                {
                                    strStatusLabel = "label-danger";
                                    strStatus = "Tạm dừng";
                                }

                                if (ev.Status == 3)
                                {
                                    strStatusLabel = "label-success";
                                    strStatus = "Hoàn thành";
                                }
                                if (ev.Status == 1)
                                {
                                    strStatusLabel = "label-warning";
                                    strStatus = "Đang chạy";
                                }

                                var result = ev.Performance.ToString();
                                int arr = result.IndexOf(",");
                                int newLength = arr + 3;
                                if (newLength == arr + 1)
                                {
                                    newLength--;
                                }
                                if (newLength > result.Length)
                                {
                                    newLength = result.Length;

                                }
                                var data = result.Substring(0, newLength);

                                <tr>
                                    <td>@iCount</td>
                                    <td>@ev.LineCode</td>
                                    <td>@ev.LineName</td>
                                    <td></td>
                                    <td></td>
                                    <td>@ev.ProductionName</td>
                                    <td>@ev.ProductCode</td>
                                    <td>@ev.Model</td>
                                    <td>@ev.ProductName</td>
                                    <td>@ev.PlanStart</td>
                                    <td>@ev.PlanQuantity</td>
                                    <td>@ev.Started</td>
                                    <td>@ev.ActualQuantity</td>
                                    <td>
                                        @*@Convert.ToDouble(ev.Performance).ToString("n2") %*@
                                        @*@Math.Truncate(Convert.ToDouble(ev.Performance))*@
                                        @data %
                                    </td>
                                    <td><span class="label @strStatusLabel" style="font-size:75%">@strStatus</span> </td>
                                </tr>
                                iCount++;
                            }
                        </tbody>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        function ExportReportWorkPlan() {
            var url = '@Url.Action("ExportReportWorkPlan", "Report")';
            var _fromDate = $('#StartDate').val();
            var _toDate = $('#EndDate').val();
            var _lineId = $('#LineId').val();
            var _productId = $('#ProductId').val();
            var excelUrl = url + '?startDate=' + _fromDate + '&endDate=' + _toDate + '&lineId=' + _lineId + '&productId=' + _productId;
            window.location.href = excelUrl;
        };

        $('#divFromDate').datetimepicker({
            pickTime: false
        });
        $('#divToDate').datetimepicker({
            pickTime: false
        });

        $('#button-search').on('click', function () {
            $('#hello').show().find('div, hidden').prop('disabled', false);
        });

    </script>
}